---
layout: default
---

<section class="sd">
    <div class="container">
        <div class="inner-container">
            <h4>Army Posture Statement</h4>
            <ul class="inline-list">
                <li><a href="//www.army.mil/e2/rv5_downloads/aps/aps_2016.pdf">2016</a></li>
                <li><a href="//www.army.mil/e2/rv5_downloads/aps/aps_2015.pdf">2015</a></li>
                <li><a href="//www.army.mil/e2/rv5_downloads/aps/aps_2014.pdf">2014</a></li>
                <li><a href="//www.army.mil/e2/rv5_downloads/aps/aps_2013.pdf">2013</a></li>
                <li><a href="//www.army.mil/e2/rv5_downloads/aps/aps_2012.pdf">2012</a></li>
                <li><a href="//www.army.mil/e2/rv5_downloads/aps/aps_2011.pdf">2011</a></li>
                <li><a href="//www.army.mil/e2/rv5_downloads/aps/aps_2010.pdf">2010</a></li>
                <li><a href="//www.army.mil/aps/09/">2009</a></li>
                <li><a href="//www.army.mil/aps/08/">2008</a></li>
                <li><a href="//www.army.mil/aps/07/">2007</a></li>
                <li><a href="//www.army.mil/aps/06/">2006</a></li>
                <li><a href="//www.army.mil/aps/05/">2005</a></li>
                <li><a href="//www.army.mil/aps/04/">2004</a></li>
                <li><a href="//www.army.mil/aps/2003/">2003</a></li>
                <li><a href="//www.army.mil/aps/02/">2002</a></li>
                <li><a href="//www.army.mil/aps/01/default.htm">2001</a></li>
                <li><a href="//www.army.mil/aps/00/aps_frd.htm">2000</a></li>
                <li><a href="//www.army.mil/aps/99/aps00.pdf">1999</a></li>
            </ul>
            <p>The annual Army Posture Statement is an unclassified summary of Army roles, missions, accomplishments, plans, and programs. Designed to reinforce the Secretary and Chief of Staff of the Army posture and budget testimony before Congress, the APS serves a broad audience as a basic reference on the state of the Army.</p>
            <p>The information provided in the addendum to The Army Posture Statement satisfies information required by the National Defense Authorization Act for Fiscal Year 1994. The information is presented in the order and depth as required by the Act.</p>
            <p>Section 517 states: "The Secretary of the Army shall include in the annual report of the Secretary to Congress known as the Army Posture Statement a presentation relating to the implementation of the Pilot Program for Active Component Support of the Reserves under section 414 of the National Defense Authorization Act for Fiscal Years 1992 and 1993."</p>
            <p>Section 521 states: "The Secretary of the Army shall include in the annual report of the Secretary to Congress known as the Army Posture Statement a detailed presentation concerning the Army National Guard, including particularly information relating to the implementation of the Army National Guard Combat Readiness Reform Act of 1992."</p>
        </div>
    </div>
    
    <div class="container">
        <div class="inner-container">
            <h4>Army's Strategic Online Resources</h4>
            <div class="links-list">
                <ul>
                    <li><a href="http://usacac.army.mil/sites/default/files/publications/11-16.pdf">Afghanistan Provincial Reconstruction Team Handbook</a></li>
                    <li><a href="http://www.g8.army.mil/">Army G-8 Strategic Messages</a></li>
                    <li><a href="https://www.us.army.mil/">Army Knowledge Online</a></li>
                    <li><a href="http://www.apd.army.mil/">Army Publishing Directorate</a></li>
                    <li><a href="//www.army.mil/standto/">STAND-TO!</a></li>
                    <li><a href="http://www.strategicstudiesinstitute.army.mil/">Strategic Studies Institute (Army War College)</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="inner-container">
            <h4>Army's Strategic Documents</h4>
            <div class="links-list">
                <ul>
                    <li><a href="http://www.tradoc.army.mil/tpubs/pams/tp525-3-1.pdf">Army Operating Concept</a></li>
                    <li><a href="//www.army.mil/e2/rv5_downloads/info/references/the_army_vision.pdf" >The Army Vision</a></li>
                    <li><a href="//www.army.mil/e2/rv5_downloads/info/references/army_strategic_planning_guidance.pdf">2013 Army Strategic Planning Guidance (PDF)</a></li>
                    <li><a href="http://www.dvidshub.net/audio/33237/2013-army-strategic-planning-guidance">2013 Army Strategic Planning Guidance (audio download)</a></li>
                    <li><a href="http://www.g8.army.mil/pdf/AEMS_31MAR15.pdf">2015 Army Equipment Modernization Strategy</a></li>
                    <li><a href="http://www.armyg1.army.mil/hr/suicide/docs/2020%20Army%20Strategy%20for%20Suicide%20Prevention_1%20Oct%202012.pdf">2020 Army Strategy for Suicide Prevention</a></li>
                    <li><a href="http://www.g8.army.mil/pdf/Army_Equipment_Program2016.pdf">Army Equipment Program in support of the President's Budget 2016</a></li>
                    <li><a href="https://peosoldier.army.mil/equipment/">PEO Soldier Equipment Index</a></li>
                    <li><a href="https://peosoldier.army.mil/portfolio/">PEO Soldier Equipment Portfolio FY2013</a></li>
                    <li><a href="//www.army.mil/e2/rv5_downloads/info/references/profession_of_arms_white_paper_Dec2010.pdf">Profession of Arms White Paper</a></li>
                    <li><a href="http://www.tradoc.army.mil/tpubs/pams/tp525-3-0.pdf">The Army Capstone Concept</a></li>
                    <li><a href="http://www.g8.army.mil/pdf/The_Army_TWV_Strategy.pdf">The Army Tactical Wheeled Vehicle Strategy</a></li>
                    <li><a href="http://www.tradoc.army.mil/tpubs/pams/tp525-2-1.pdf">The U.S. Army Functional Concept for Intelligence 2016-2028</a></li>
                    <li><a href="//www.army.mil/e2/rv5_downloads/info/references/ADP_3-0_ULO_Oct_2011_APD.pdf">Unified Land Operations ADP 3-0</a></li>
                    <li><a href="http://asc.army.mil/web/weapon-systems/wsh-archive/">U.S. Army Weapon Systems Handbook Archive</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="inner-container">
            <h4>Department of Defense Links</h4>
            <div class="links-list">
                <ul>
                    <li><a href="//www.army.mil/e2/rv5_downloads/info/references/NMS_Feb2011.pdf">2011 The National Military Strategy of the Unites States of America</a></li>
                    <li><a href="http://www.dtic.mil/whs/directives/">Department of Defense Administrative Publications</a></li>
                    <li><a href="http://www.dod.mil/pubs/foi/">Freedom of Information Act</a></li>
                    <li><a href="http://uscode.house.gov/">The United States Code</a></li>
                    <li><a href="http://www.apd.army.mil/pdffiles/r27_10.pdf">Uniform Code of Military Justice</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

