
// ----------------------------------------------------------------------
// globals/base
// ----------------------------------------------------------------------
@import 'globals/base';

// ----------------------------------------------------------------------
// Layout
// ----------------------------------------------------------------------
@import 'globals/layout';

// ----------------------------------------------------------------------
// globals/elements
// ----------------------------------------------------------------------
@import 'globals/elements/buttons';
@import 'globals/elements/header';
@import 'globals/elements/social';
@import 'globals/elements/footer';
@import 'globals/elements/masthead';
@import 'globals/elements/lists';

// ----------------------------------------------------------------------
// project scss
// ----------------------------------------------------------------------

ul.inline-list {
  @include row(true);
  font-size: .875em;
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
  
  li { @include span(4); }
  
  li a {
    display: block;
    font: 400 1.143em/1.375em $font-family;
    padding: 7px 0 7px 5px;
    position: relative;
    vertical-align: top;
    top: 2px;
  }
}

@include breakpoints(lg_tablet sm_desktop desktop large really_big) {
  ul.inline-list li { width: 10%; }
}

